.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #1f1f1f;
    height: 111px;
    position: fixed;
    top: 0;
    z-index: 10000;
    padding: 20px 40px;
    box-sizing: border-box;
}

.header-logo img {
    max-width: 76px;
    max-height: 76px;
    transition: max-width 0.3s ease;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.button {
    color: white;
    padding: 10px 20px;
    background: linear-gradient(10deg, rgb(139, 15, 229) 0%, rgb(59, 51, 190) 100%);
    border-radius: 8px;
    height: 41px;
    overflow: hidden;
    position: relative;
    width: 257px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu-line {
    width: 25px;
    height: 3px;
    background-color: #898989;
}

.navbar-mobile {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    padding: 20px 0;
    text-align: center;
    flex-direction: column; 
    z-index: 999;
}

.navbar-mobile.open {
    display: flex; 
    opacity: 1;
    max-height: 500px; 
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .mobile-menu-icon {
        display: flex; 
    }

    .navbar-mobile {
        display: none;
        position: fixed;
        top: 80px; 
        left: 0;
        background-color: #1f1f1f;
        width: 100%;
        z-index: 999;
        padding: 0;
        opacity: 1;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    .navbar-mobile.open {
        opacity: 1;
        padding: 20px 0;
        max-height: 500px; 
    }
}
